/* AUTH (LOGIN & REGISTRO) */

/* 🔥 SOLO PARA PÁGINAS NORMALES */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f7fb;
}

.auth-page {
    background: linear-gradient(120deg, #141e30, #243b55);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.auth-box {
    background: white;
    padding: 70px;
    border-radius: 20px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.auth-box h2 {
    margin-bottom: 10px;
}

.auth-box p {
    color: gray;
    margin-bottom: 20px;
}

.auth-box input {
    width: 90%;
    padding: 15px;
    margin: 10px auto;
    display: block;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.auth-box button {
    width: 50%;
    margin: 15px auto;
    display: block;
}

.link-text {
    margin-top: 15px;
    font-size: 14px;
}

.link-text a {
    color: #0072ff;
    text-decoration: none;
}
.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin: 10px 0;
}

.login-options label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.forgot {
    color: #0072ff;
    text-decoration: none;
}

.forgot {
    color: #0072ff;
    text-decoration: none;
}

/* 🌙 MODO OSCURO */
.dark-mode {
    background: #1e1e1e;
    color: #e0e0e0;
}

/* CAJAS (LOGIN, DESCARGAS, FUNCIONES, ETC) */
.dark-mode .auth-box {
    background: #2f2f2f;
    color: white;
}

/* INPUTS */
.dark-mode input,
.dark-mode textarea {
    background: #3a3a3a;
    color: white;
    border: 1px solid #555;
}

.chat-input-area input {
    flex: 1;
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 0.85rem;
    outline: none;
}

/* BOTONES */
.btn-primary {
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    line-height: normal;
    
}

.btn-primary:hover {
    transform: scale(1.05);
}